	
	<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>AUTOFLIP</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>AutoFlip: Notecards reimagined.</h1>
					<form class="form-inline" role="form" action="http://autoflip.us3.list-manage1.com/subscribe/post?u=a30bc58863509cc901318e869&amp;id=38d321857d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					  <div class="form-group">
					    <label for="mce-EMAIL"></label>
						<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
					  </div>
					  <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
					</form>					
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
					<%= image_tag( 'ipad-hand.png', :class => "img-responsive") %>
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Your Talking Point<br>Always there.</h1>
				<h3>We have all been frustrated by the small, hard to read bullets that are associated with traditional means of using notecards for delivering content to an audience.</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<%= image_tag('ser01.png', :width => "180") %>
				<h4>Compatible with most File Types</h4>
				<p>Supports all powerpoint and text files, so whether you need a notecard deck last minute or you meticulously put together a file with all your talking points, AutoFlip is smart enough to extract the important text and generate a notecard deck for your presentation.</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<%= image_tag('ser02.png', :width => "180") %>
				<h4>Easy Dropbox and Google Drive Integration</h4>
				<p>Easily import your files directly from your favorite cloud storage service, using the file picker from within AutoFlip.</p>

			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<%= image_tag('ser03.png', :width => "180") %>
				<h4>Accurate Voice Recognition Algorithm</h4>
				<p>No longer will you need to bury your nose while delivering a presentation, speech, or meeting. Just speak with your heart and AutoFlip will follow along. When you get stuck, just glance down and your most relevant talking point will be waiting for you.</p>

			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form">
				  <div class="form-group">
				  <form class="form-inline" role="form" action="http://autoflip.us3.list-manage1.com/subscribe/post?u=a30bc58863509cc901318e869&amp;id=38d321857d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <label for="mce-EMAIL"></label>
						<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
	</div><!-- /container -->
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>AutoFlip is for Everyone.</h1>
				<h3>Whether you're a teacher, student, entrepreneur, or just a team leader conducting a meeting, your most relevant talking points will always be there when you need them most.</h3>
			</div>
		</div><!-- /row -->
	
		<!-- -- CAROUSEL ---->
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
				    <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
				    <li data-target="#carousel-example-generic" data-slide-to="5" class=""></li>
				  </ol>
				
				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
				    <div class="item">
				    <%= image_tag('p01.png') %>
				    </div>
				    <div class="item">
				    <%= image_tag('p02.png') %>
				    </div>
				    <div class="item">
				    <%= image_tag('p03.png') %>
				    </div>
				    <div class="item active">
				    <%= image_tag('p04.png') %>
				    </div>
				    <div class="item">
				    <%= image_tag('p05.png') %>
				    </div>
				    <div class="item">
				    <%= image_tag('p06.png') %>
				    </div>
				  </div>
				</div>			
			</div><!-- /col-lg-8 -->
		</div><!-- /row -->
	</div><!-- --/container ---->
	
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form" action="http://autoflip.us3.list-manage1.com/subscribe/post?u=a30bc58863509cc901318e869&amp;id=38d321857d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				  <div class="form-group">
				    <label for="mce-EMAIL"></label>
						<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
	</div><!-- /container -->

	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Our Awesome Team.<br>Design Lovers.</h1>
				<h3>We value design and simplicity. Behind the seemless user interface is lots of intense algorithms constantly being crunched to make sure you have the most successful presentation possible. Our team has worked very hard and we hope that you love AutoFlip.</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-3">
				<%= image_tag('pic1.jpg', :class => 'img-circle', :width => "140", :height => "180") %>
				<h4>Rohan Shah</h4>
				<p>Rohan is in charge of the overall design of AutoFlip and backend algorithmic computations. He also makes sure AutoFlip is succeeding from a business standpoint. You'll often find Rohan crunching numbers, writing out Big-O Notations, or sketching out new designs.</p>
				<!-- Extra Contact icons
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
				-->
			</div><!--/col-lg-4 -->

			<div class="col-lg-3">
				<%= image_tag('pic2.jpg', :class => 'img-circle', :width => "140", :height => "180") %>
				<h4>Steve Vitali</h4>
				<p>Steve is the lead iOS Programmer. He will bang out a prototype in a night, without blinking. Steve is very practical, but isn't afraid of scrapping everything and starting from the bottom up if it means a better app for the user.</p>
				<!-- Extra Contact icons
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
				-->
			</div><!--/col-lg-4 -->

			<div class="col-lg-3">
				<%= image_tag('pic3.jpg', :class => 'img-circle', :width => "140", :height => "180") %>
				<h4>Shashank Bhargava</h4>
				<p>Shashank works on marketting and handles many of the interactions with constituents involved with AutoFlip on the backend. He is also hard at work on making AutoFlip cross platform.</p>
				<!-- Extra Contact icons
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
				-->
			</div><!--/col-lg-4 -->

			<div class="col-lg-3">
				<%= image_tag('pic4.jpg', :class => 'img-circle', :width => "140", :height => "180") %>
				<h4>Sam Moore</h4>
				<p>Sam is the genius behind the server-side code. He is always working on new ways to make AutoFlip more efficient and easier for the end user. He has also been deeply involved with the testing of the iOS app.</p>
				<!-- Extra Contact icons
				<p><i class="glyphicon glyphicon-send"></i> <i class="glyphicon glyphicon-phone"></i> <i class="glyphicon glyphicon-globe"></i></p>
				-->
			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form" action="http://autoflip.us3.list-manage1.com/subscribe/post?u=a30bc58863509cc901318e869&amp;id=38d321857d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				  <div class="form-group">
				    <label for="mce-EMAIL"></label>
						<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
		<p class="centered">Copyright PointOne Development &copy; 2014</p>
	</div><!-- /container -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48551062-1', 'autoflip.net');
  ga('send', 'pageview');

</script>

</body></html>